body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 0;
}

#Contain {
    width: 80%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-align: center;
}

.p-decor {
    
    background-color: burlywood;
    width: 70%;
}
.palin {
    font-size: xx-large;
    font-weight: bold;
    color: snow;
    border: 1opx solid black;
    font-family: cursive;
    border-bottom: 0.2vw solid black;
}

p {
    font-family: cursive;
    font-weight: bold;
    font-size: large;
}

em {
    color: gray;
}
strong {
    background-color: crimson;
}

#button {
    font-size: x-large;
    font-family: cursive;
    font-weight: bold; 
    font-style: italic;
    border-radius: 4%;
}

#button:hover {
    background-color: grey;
}

#Answer {
    background-color: white;
    font-size: xx-large;
    color: red;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    padding-bottom: 1vw;
    text-align: center;
}
